@using Piipan.Components.Alerts
@using static Shared.CommonConstants
@using static FormConstants
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public object Model { get; set; }
    [Parameter] public Func<bool, Task> OnSubmit { get; set; }
    [Parameter] public List<string> InitialErrors { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

    EditForm elementReference { get; set; }
    // More code in code behind
}

<CascadingValue Value="this">
    @if (ShowAlertBox && HasErrors)
    {
        <UsaAlertBox Header="Errors">
            <ul>
                @foreach (var errorPair in currentErrors)
                {
                    foreach (var error in errorPair.Errors)
                    {
                        var linkPart = error.IndexOf("@@@");
                        @if (linkPart >= 0 && errorPair.FormGroup != null)
                        {
                            <li>
                                @if (linkPart > 0)
                                {
                                    @error.Substring(0, linkPart)
                                }
                                <button class="@ButtonClass @ButtonUnstyledClass"
                                    @onclick="async () => { await FocusElement(errorPair.FormGroup.InputElementId); }">
                                    @errorPair.FormGroup.Label
                                </button>
                                @error.Substring(linkPart + 3)
                            </li>
                        }
                        else
                        {
                            <li>@error</li>    
                        }
                    }
                    
                }
            </ul>
        </UsaAlertBox>
    }
    
    <EditForm id="@Id" EditContext="editContext" class="@FormClass" @attributes="AdditionalAttributes" novalidate>
        <DataAnnotationsValidator />  
        <fieldset class="@FieldsetClass">
            @ChildContent
        </fieldset>
    </EditForm>
</CascadingValue>